@model List<Autor>
@{
    ViewData["Title"] = "Autor";
}
<h1>Autores</h1>
<h5>Listado de autores</h5>
<a asp-action="Create" class="btn btn-primary mb-3">Crear nuevo</a>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var autor in Model)
            {
                <tr>
                    <td>
                        <input type="hidden" value="@autor.Id" class="ids" />
                        <a class="btn btn-warning" asp-action="Update" asp-route-id="@autor.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@autor.Id">Eliminar</a>
                    </td>
                    <td>
                        @autor.Nombre
                    </td>
                    <td>
                        @autor.Apellido
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

