@model IEnumerable<BrowserTravel.Models.Libro>

@{
    ViewData["Title"] = "Listado de libros";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.N_Paginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editorial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sinopsis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.N_Paginas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editorial.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ISBN">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ISBN">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ISBN">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
